@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Fira+Sans&family=Lobster&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(150, 139, 139);
    width: 434px;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar nav {
    padding: 34px;
}

.sidebar nav li {
    list-style-type: none;
    padding: 23px 0px;
    font-size: 20px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: rgb(207, 207, 182);
    width: 90vw;
}

.infocontainer {
    /* background-color: rgb(207, 67, 153); */
    height: 60vh;
    width: 80vw;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devPic img {
    width:200px;
    height: 35vh;
    
    padding-right: 15px;
    margin-right: 20px;
    margin-top: 60px;
    border-radius: 50px;
}

.hello {
    font-size: 60px;
    color: rgb(22, 9, 9);
}

.name {
    font-size: 40px;
    font-weight: bold;
    color: rgb(216, 72, 72);
}

.about {
    font-size: 30px;
    color: rgb(85, 151, 151);
    
}
.moreabout{
    font-size: 18px;
    padding: 14px;
    color: rgb(66, 105, 66);
}

.buttons {
    margin: 14px;
}

.btn {
    padding: 9px 10px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 14px;
    margin: 12px 0;
    padding: 10px 19px;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.container {
    display: flex;
    height: 100vh;
}

.contactform {
    padding: 0 34px;
    padding-top: 100px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1 {
    /* text-align: center; */
    padding: 12px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

.blogItem{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    margin: 23px 0;
}
h2{
    color:rgb(170, 12, 12);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font: bold; */
    font-size: 20px;
    color: rgb(35, 180, 35);
}
.intro h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
    text-decoration: solid;
    color: rgb(240, 73, 13);
}
.skillscontainer{
    padding: 12px;
}
.skillitem{
    display: flex;
    align-items: center;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
    
}
.hundred{
    width: 265px;
    background-color: aquamarine;
}
.fifty
{
    width: 125px;
    background-color: crimson;
}
.t5{
    width: 75px;
    background-color: yellow;
}
@media(max-width: 600px){
    *{
        background-color: red;
    }
    .sidebar{
        transform: translate(-443px 0);
        position: absolute;
    }
}